* {
  margin: 0px;
  padding: 0px;
}

title {
  display: block;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

ccypair_expiries {
  margin: 10px;
  padding: 10px;
  background: #dfc48c;
  display: inline-block;
}

ccypair {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

expiry {
  display: block;
}

strike,
amount {
  width: 50%;
  margin: 10px;
}
