* {
	margin: 0px;
	padding: 0px;
	display: block;
}

content {
	background-color: #222222;
}

title {
	padding: 5px;
	font-size: 18px;
	background-color: rgb(255, 152, 0);
	color: #dfc48c;
	text-shadow: -1px 0px 1px rgb(97, 100, 5);
	text-align: center;
}
