* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

title {
  display: block;
  padding: 5px;
  font-size: 18px;
}

ccypair_expiries {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #dfc48c;
}

ccypair {
  display: block;
  margin-bottom: 10px;
}

expiries {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

expiry {
  font-family: monospace;
  d-isplay: block;
}

strike,
amount {
  margin: 10px;
}
