* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

title {
  display: block;
  margin: 10px;
  font-size: 24px;
  font-weight: bold;
}

ccypair_expiries {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #dfc48c;
  width: 160px;
}

ccypair {
  display: block;
  margin-bottom: 5px;
}

expiries {
  display: flex;
  flex-flow: column wrap;
}

expiry {
  font-family: monospace;
  white-space: nowrap;
}

strike,
amount {
  margin: 10px;
}
