* {
	background-color: #222222;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}

title,
	ccypair {
	color: #dfc48c;
	text-align: center;
}

title {
	text-shadow: -1px 0px 1px rgb(97, 100, 5);
	background-color: rgb(255, 152, 0);
	color: white;
	padding: 5px;
}

expiries {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: flex-start;
	padding: 10px;
	align-content: stretch;
}

expiries {
	text-align: center;
	border: 0.5px solid black;
	max-width: 100px;
	width: 25%;
	white-space: nowrap;
	align-items: stretch;
	padding: 0px 10px 10px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

expiry {
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

strk {
	color: #9b869c;
}

amnt {
	text-align: left;
	color: #ab875d;
}
